[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
xlsxwriter = "*"
line-bot-sdk = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.10"
